
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    Box-sizing: border-box; 

}
body{
    background: linear-gradient(blue, pink);
    min-height: 100vh;

}

 .outer, .inner {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
h1 > img {
    height:100px;
    width:200px;
}
#name {
    display: flex;
    justify-content: space-around;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: larger;
}

